/* Default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --lightMagenta: #e942ff;
  --lightViolet: #8838ff;
  --lightGrayishViolet: #f2e8fc;
  --veryDarkDesaturatedViolet: #3e2753;
  --veryLightMagenta: #e570ff;
  --paleViolet: #d89eff;
  --moderateViolet: #9241c8;
  --desaturatedDarkViolet: #6e5d7e;
  --grayishBlue: #c6cacd;
  --veryDarkDesaturatedViolet: #3e2753;
  --darkGrayishViolet: #a39daa;

  --msgShadow: #0000000d 7px 7px 10px;
  --phoneShadow: #11111a1a 0px 8px 24px, #11111a1a 0px 16px 56px,
    #11111a1a 0px 24px 80px;
}

/* Background styles */
body {
  font-family: 'Rubik', sans-serif;
  height: calc(100vh - 13px);
}
.bg-shape {
  width: 30vw;
  height: 90vh;
  position: fixed;
  z-index: -1;
}
.bg-shape-left {
  background: linear-gradient(var(--lightMagenta), var(--lightViolet));
  border-radius: 0% 0% 50% 50% / 60% 60% 40% 40%;
  top: 0;
  left: -6%;
  animation: leftAnimY 3s ease-out;
}
.bg-shape-right {
  background: #e8e8e8;
  border-radius: 50% 50% 0% 0% / 40% 40% 60% 60%;
  bottom: 0;
  right: -6%;
  animation: rightAnimY 3s ease-out;
}

/* Main section */
.container {
  padding: 1.5rem 0;
  width: 60%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

/* Right side content */
.heading {
  color: var(--veryDarkDesaturatedViolet);
  font-weight: 500;
  font-size: 2rem;
}
.text {
  color: var(--darkGrayishViolet);
  font-size: 1rem;
  margin: 1.5rem 0;
  line-height: 1.5;
}

/* Left side content */
.phone {
  flex-basis: 270px;
  min-width: 270px;
  background: var(--lightGrayishViolet);
  border-radius: 30px;
  border: 10px solid #ffffff;
  box-shadow: var(--phoneShadow);
}

/* App header section */
.noch {
  width: 60%;
  height: 20px;
  background: white;
  border-radius: 0 0 15px 15px;
  margin: 0 auto;
}
.app-header {
  width: 100%;
  background: linear-gradient(90deg, var(--lightViolet), var(--lightMagenta));
  border-radius: 20px 20px 5px 5px;
  box-shadow: var(--msgShadow);
  height: 70px;
}
.profile-container {
  width: 100%;
  height: 67%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.back-btn,
.menu-btn {
  transform: scaleY(1.3);
  font-size: 0.55rem;
  color: white;
}
.dp {
  width: 26.5px;
  height: 26.5px;
  border-radius: 50px;
}
.dp-container {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background: var(--lightGrayishViolet);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-90%);
}
.user {
  transform: translateX(-70%);
}
.user-name {
  display: block;
  font-size: 0.7rem;
  font-weight: 500;
  color: var(--lightGrayishViolet);
}
.user-info {
  display: block;
  font-size: 0.53rem;
  font-weight: 400;
  color: var(--grayishBlue);
}

/* Message section */
.msg-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
  padding: 0.5em;
  justify-content: space-between;
  overflow: hidden;
}
.msg,
.left-msg {
  background: #ecd9f1;
  width: 60%;
  border-radius: 10px 10px 10px 3px;
  font-size: 0.6rem;
  color: var(--moderateViolet);
  padding: 0.9em;
  font-weight: 500;
}
.left-msg {
  align-self: flex-start;
  animation: leftAnimX 1s linear;
}
.right-msg {
  align-self: flex-end;
  background: #ffffff;
  box-shadow: var(--msgShadow);
  color: var(--desaturatedDarkViolet);
  border-radius: 10px 10px 4px 10px;
  animation: rightAnimX 1s linear;
}
.dog-msg {
  width: 60%;
  text-align: end;
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  animation: rightAnimX 1s linear;
}
.dog-img {
  width: 30%;
  border-radius: 10px;
}
.price-msg {
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2em 0.9em;
  background: linear-gradient(90deg, var(--lightMagenta), var(--lightViolet));
}
.circle {
  color: var(--veryLightMagenta);
  flex-basis: 15%;
}
.price-info {
  color: var(--grayishBlue);
  flex-basis: 70%;
}
.price {
  color: var(--lightGrayishViolet);
  flex-basis: 25%;
  font-size: 0.77rem;
  font-weight: 500;
}

/* Text input box */
.input {
  width: 100%;
  background: white;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}
.placeholder {
  font-size: 11px;
  color: var(--grayishBlue);
  margin-top: 3px;
  margin-left: 15px;
}
.send-btn {
  border-radius: 50%;
  padding: 5px;
  width: 1.6rem;
  background: var(--veryDarkDesaturatedViolet);
  color: white;
  text-align: center;
}

/* Footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #3e52a3;
}

/* App animations */
@keyframes leftAnimX {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes rightAnimX {
  0% {
    opacity: 0;
    transform: translateX(20%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/*Background animations */
@keyframes leftAnimY {
  0% {
    transform: translateY(-100%) scale(0);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}
@keyframes rightAnimY {
  0% {
    transform: translateY(100%) scale(0);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

/* Media queries */
@media screen and (max-width: 975px) {
  .container {
    width: 80%;
  }
  .bg-shape {
    width: 35vw;
  }
}
@media screen and (max-width: 752px) {
  body {
    height: 1000px;
  }
  .container {
    flex-wrap: wrap;
  }
  .bg-shape {
    width: 45vw;
    height: 50vh;
  }
  .sub-content {
    text-align: center;
  }
}
